{% extends 'base.html' %}


<html>

{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
{% endblock meta %}
{% block content %}
{% include 'navbar_kurir.html' %}
<h>Ringkasan Pesanan</h>

<p> Waktu Pemesanan: 2022-11-04 11:30:05 <br><br>

Nama Pelanggan: {{nama_pelanggan}} <br>
Jalan: {{transaksi.street}} <br>
Kecamatan: {{transaksi.district}} <br>
Kota: {{transaksi.city}} <br>
Provinsi: {{transaksi.province}} <br><br>

Restoran: {{restoran_detail.rname}} {{restoran_detail.rbranch}}<br>
Jalan: {{restoran_detail.street}} <br>
Kecamatan: {{restoran_detail.district}} <br>
Kota: {{restoran_detail.city}} <br>
Provinsi: {{restoran_detail.province}} <br><br>

Makanan yang dipesan: <br>
{% for item in makanan %}
    {{item.index}}. {{item.foodname}}
    {% if item.note != null%} 
        - item.note 
    {% else %}
    {% endif %} <br>
{% endfor %}
Total Harga Makanan: {{transaksi.totalfood}} <br>
Total Diskon: {{transaksi.totaldiscount}} <br>
Biaya Pengantaran: {{transaksi.deliveryfee}} <br>
Total Biaya: {{transaksi.totalprice}} <br>
Jenis Pembayaran: {{jenis_pembayaran.name}} <br><br>

Status Pembayaran: {{status_pembayaran.name}} <br>
Status Pesanan: {{status_pesanan}} <br><br>

Kurir: {{kurir.fname}} {{kurir.lname}} <br>
Plat Kendaraan: {{kurir.platenum}} <br>
Jenis Kendaraan: {{kurir.vehicletype}} <br>
Merk Kendaraan: {{kurir.vehiclebrand}} <br>

</p>

<a class="btn btn-secondary" href="{% url 'trigger_5:show_transaksi_pesanan_kurir' %}">Kembali</a></td>
{% endblock %}