{% extends 'base.html' %}


<html>

{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
{% endblock meta %}
{% block content %}

<style>
    body {
    background-color: #F8F9FC;
}
.container-md {
    background-color: #fff;
    border: 1px solid #CECACA;
    border-radius: 15px;
}

.back-btn {
    padding: 0;
    border: none;
    background: none;
}

.back-btn-div {
    margin-right: 25px;
}
</style>

  <head>
    <title>Kategori Restoran</title>
  </head>
    
{% include 'navbar_kurir.html' %}
<div style="height:100px;"></div>
<div class="container-sm">
    <div class="table-responsive-md">
        <table class="table table-hover rounded rounded-3 overflow-hidden">
            <thead class="table" style="background-color: #2D55D0; color: #fff;">
                <tr>
                    <th class="text-center" style="padding: 1rem 1rem;">No</th>
                    <th class="text-center" style="padding: 1rem 1rem;">Restoran - Cabang</th>
                    <th class="text-center" style="padding: 1rem 1rem;">Nama Pelanggan</th>
                    <th class="text-center" style="padding: 1rem 1rem;">Waktu Pesanan Dibuat</th>
                    <th class="text-center" style="padding: 1rem 1rem;">Status Pesanan</th>
                    <th class="text-center" style="padding: 1rem 1rem;">Aksi</th>
                </tr>
                
            </thead>
            <tbody id ="report_table" >
                {% for item in item_list %}
                <tr style="cursor: pointer;">
                    <td class="text-center">{{item.index}}</td>
                    <td class="text-center">{{item.restoran}} {{item.cabang}}</td>
                    <td class="text-center">{{item.nama_pelanggan}}</td>
                    <td class="text-center">{{item.waktu_pesanan}}</td>
                    <td class="text-center">{{item.status_pesanan}}</td>
                    <td class="text-center"><a class="btn btn-secondary" href="{% url 'trigger_5:show_transaksi_pesanan_kurir_detail' item.restoran item.cabang item.nama_pelanggan item.waktu_pesanan item.status_pesanan%}">Detail</a>
                    <a class="btn btn-secondary" href="{% url 'trigger_5:update_transaksi_pesanan_kurir' item.nama_pelanggan item.waktu_pesanan%}">Selesai</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>  

</html>

{% endblock %}