{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

{% endblock meta %}

{% block content %}

{% include 'navbar_restoran.html' %}

<div class="row">
    <div class="col">
        <h2 class="pt-4 pb-3">Ringkasan Pesanan</h1>

        <div class="card mb-4 shadow">
        <div class="card-body border-dark" style="width: 500px;">

        <div class="pb-3 pt-1 d-flex justify-content-center">
            <p class="pt-1">Waktu Pemesanan: {{datetime}}</p>
        </div>

        <div class="pb-3 pt-1 d-flex justify-content-center">
            <p class="pt-1">Nama Pelanggan: {{nama_pelanggan}}</p>
            <p class="pt-1">Jalan: {{jalan_pelanggan}}</p>
            <p class="pt-1">Kecamatan: {{kecamatan_pelanggan}}</p>
            <p class="pt-1">Kota: {{kota_pelanggan}}</p>
            <p class="pt-1">Provinsi: {{provinsi_pelanggan}}</p>
        </div>

        <div class="pb-3 pt-1 d-flex justify-content-center">
            <p class="pt-1">Restoran: {{nama_restoran}}</p>
            <p class="pt-1">Jalan: {{jalan_restoran}}</p>
            <p class="pt-1">Kecamatan: {{kecamatan_restoran}}</p>
            <p class="pt-1">Kota: {{kota_restoran}}</p>
            <p class="pt-1">Provinsi: {{provinsi_restoran}}</p>
        </div>

        <div class="pb-3 pt-1 d-flex justify-content-center">
            <p class="pt-1">Makanan yang dipesan</p>
            {% for m in makanan %}
                {% if m.note == None %}
                    <p class="pt-1"> • {{m.foodname}} ({{m.amount}})</p>
                {% else %}
                    <p class="pt-1"> • {{m.foodname}} ({{m.amount}}) - {{m.note}}</p>
                {% endif %}
            {% endfor %}
            <p class="pt-1">Total Harga Makanan: {{total_harga_makanan}}</p>
            <p class="pt-1">Total Diskon: {{total_diskon}}</p>
            <p class="pt-1">Biaya Pengantaran: {{biaya_pengantaran}}</p>
            <p class="pt-1">Total Biaya: {{total_biaya}}</p>
            <p class="pt-1">Jenis Pembayaran: {{jenis_pembayaran}}</p>
        </div>

        <div class="pb-3 pt-1 d-flex justify-content-center">
            <p class="pt-1">Status Pembayaran: {{status_pembayaran}}</p>
            <p class="pt-1">Status Pesanan: {{status_pesanan}}</p>
        </div>

        <div class="pb-3 pt-1 d-flex justify-content-center">
            <p class="pt-1">Kurir: {{kurir}}</p>
            <p class="pt-1">Plat Kendaraan: {{plat_kendaraan}}</p>
            <p class="pt-1">Jenis Kendaraan: {{jenis_kendaraan}}</p>
            <p class="pt-1">Merk Kendaraan: {{merk_kendaraan}}</p>
        </div>

        <div class="border border-dark rounded px-3 py-1 mt-4 my-2"><a href="../../../read/" class="text-decoration-none text-dark">Kembali</a></div>
        </div>
        </div>

    </div>
</div>

{% endblock content %}