{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

{% endblock meta %}

{% block content %}

{% if role == 'Pelanggan' %}
    {% include 'navbar_pelanggan.html' %}
{% elif role == 'Restoran' %}
    {% include 'navbar_restoran.html' %}
{% elif role == 'Kurir' %}
    {% include 'navbar_kurir.html' %}
{% endif %}

<div class="row">
    <div class="col">
        <h2 class="lead pt-4 pb-3">FORM ISI SALDO</h1>

        <div class="card">
        <div class="card-body border-dark" style="width: 500px;">

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <h3 class="lead pt-2">Saldo saat ini: {{query.restopay}}</h3>
        </div>

        <form method="post" class="login">
            {% csrf_token %}

            <div class="pb-4 pt-2 d-flex justify-content-center">
                <h3 class="lead pt-2">Nominal Pengisian:</h3>
                <input type="text" name="isi" id="isi" class="form-control"style="width: 70%;">
            </div>

            <div class="py-2 d-flex justify-content-center">
                <h3 class="lead">dari:</h3>
            </div>

            <div class="pb-3 pt-2 d-flex justify-content-center">
                <h3 class="lead pt-2">Nama Bank: {{query.bankname}}</h3>
            </div>

            <div class="pb-3 pt-2 d-flex justify-content-center">
                <h3 class="lead pt-2">Nomor Rekening: {{query.accountno}}</h3>
            </div>

            <div class="pb-3 pt-2 d-flex justify-content-center">
                <button class="btn border-dark">Simpan</button>
            </div>

        </form>
        </div>
        </div>

    </div>
</div>

{% endblock content %}