{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

{% endblock meta %}

{% block content %}

<div class="row">
    <div class="col">
        <h2 class="lead pt-4 pb-3">FORM ISI SALDO</h1>

        <div class="card">
        <div class="card-body border-dark" style="width: 500px;">

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <h3 class="lead pt-2">Saldo saat ini: 120000</h3>
        </div>

        <div class="pb-4 pt-2 d-flex justify-content-center">
            <h3 class="lead pt-2">Nominal Penarikan:</h3>
            <input type="text" class="form-control">
        </div>

        <div class="py-2 d-flex justify-content-center">
            <h3 class="lead">dari:</h3>
        </div>

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <h3 class="lead pt-2">Nama Bank: BNI</h3>
        </div>

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <h3 class="lead pt-2">Nomor Rekening: 4715730078928</h3>
        </div>

        <input type="submit" class="btn my-4 border-dark" value="Simpan">
        </div>
        </div>

    </div>
</div>

{% endblock content %}