{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

{% endblock meta %}

{% block content %}

{% if role == 'Pelanggan' %}
    {% include 'navbar_pelanggan.html' %}
{% elif role == 'Restoran' %}
    {% include 'navbar_restoran.html' %}
{% elif role == 'Kurir' %}
    {% include 'navbar_kurir.html' %}
{% endif %}

<div class="row">
    <div class="col">
        <h2 class="lead pt-4 pb-3">RestoPay</h1>

        <div class="card">
        <div class="card-body border-dark" style="width: 500px;">

        <div class="pt-2 d-flex justify-content-center">
            <h3 class="lead pt-2">Saldo: {{query.restopay}}</h3>
        </div>

        <div class="border border-dark rounded px-3 py-1 mt-4 my-2"><a href="../isi/" class="text-decoration-none text-dark">Isi Saldo</a></div>
        <div class="border border-dark rounded px-2 py-1 m-3"><a href="../tarik/" class="text-decoration-none text-dark">Tarik Saldo</a></div>

        </div>
        </div>

    </div>
</div>

{% endblock content %}