{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
    }

</style>

{% endblock meta %}

{% block content %}

{% include 'navbar_restoran.html' %}

<div class="row">
    <div class="col">
        <div class="table-responsive my-5">
            <table class="table table-bordered table-striped" style="width: 500px;">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama Pelanggan</th>
                    <th scope="col">Waktu Pesanan Dibuat</th>
                    <th scope="col">Status Pesanan</th>
                    <th scope="col">Aksi</th>
                </tr>
                </thead>
                <tbody>
                    {% for q in query %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{q.fname}} {{q.lname}}</td>
                        <td>{{q.datetime}}</td>
                        <td>{{q.status}}</td>
                        <td>
                            <a href="../detail/{{q.email}}/{{datetime}}/">Detail</a>
                            <br>
                            {% if q.status_id == 'TS01' %}
                                <a href="../update/{{q.email}}/{{datetime}}/">Konfirmasi</a>
                            {% elif q.status_id == 'TS02' %}
                                <a href="../update/{{q.email}}/{{datetime}}/">Kirim</a>
                            {% endif %}
                        </td>
                    </tr>    
                    {% endfor %}                
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}