{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

{% endblock meta %}

{% block content %}

{% include 'navbar_restoran.html' %}

<div class="row">
    <div class="col">
        <h2 class="lead pt-4 pb-3">FORM UBAH JAM OPERASIONAL</h1>

        <div class="card">
        <div class="card-body border-dark" style="width: 300px;">
        <div class="d-flex justify-content-center">
            <h3 class="lead py-2">Hari: {{day}}</h3>
        </div>

        <form method="post" class="login">
            {% csrf_token %}

            <div class="pb-3 pt-2 d-flex justify-content-center">
                <h3 class="lead py-2">Jam Buka</h3>
                <input type="time" id="jam-buka" name="jam-buka" class="form-control" required>
            </div>

            <div class="pb-4 pt-2 d-flex justify-content-center">
                <h3 class="lead py-2">Jam Tutup</h3>
                <input type="time" id="jam-tutup" name="jam-tutup" class="form-control" required>
            </div>

            <div class="pb-3 pt-2 d-flex justify-content-center">
                <button class="btn border-dark">Simpan</button>
            </div>

        </form>

        </div>
        </div>

    </div>
</div>

{% endblock content %}