{% extends 'base.html' %}

{% block meta %}

{% endblock meta %}

{% block content %}

{% include 'navbar_pelanggan.html' %}
<div class="d-flex flex-row justify-content-center ">
    <div class="d-flex flex-column align-items-center">
        
        <h2 class="lead pt-4 pb-3">DAFTAR PESANAN</h1>
        
        <!-- cards -->
        <div class="card" style="width: 900px;">

            <div class="px-2 py-3 border-dark d-flex flex-row align-items-center" style="width: 100%;">
              <div class="d-flex flex-column align-items-center px-2 fs-6 text-wrap fw-normal" 
              style="width: 5%;">No</div>
              
              <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
              style="width: 35%;">Nama Makanan</div>

              <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
              style="width: 20%;">Harga</div>
              
              <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
              style="width: 20%;">Jumlah</div>

              <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
              style="width: 20%;">Total</div>
            </div>

            {% for o in order %}
            <div class="px-2 py-3 border-dark d-flex flex-row align-items-center" style="width: 100%;">
                <div class="d-flex flex-column align-items-center px-2 fs-6 text-wrap fw-normal" 
                style="width: 5%;">{{ forloop.counter }}</div>
                
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-semibold" 
                style="width: 35%;">{{ o.foodname }}</div>

                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 20%;">{{ o.price }}</div>
                
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 20%;">{{ o.amount }}</div>

                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 20%;">{{ o.subtotal }}</div>
            </div>
            {% endfor %}

            <div class="px-2 py-3 border-dark d-flex flex-row align-items-center" style="width: 100%;">
                <div class="d-flex flex-column align-items-center px-2 fs-6 text-wrap fw-semibold" 
                style="width: 80%;">Total Harga</div>

                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 20%;">{{ total_harga }}</div>
            </div>

            <div class="d-flex flex-row border border-top-2 mx-3">
            </div>

            <div class="px-2 py-3 border-dark d-flex flex-row align-items-center" style="width: 100%;">
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 60%;">Metode Pengantaran</div>
                
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 40%;">{{ vehicle }}</div>
            </div>

            <div class="px-2 py-3 border-dark d-flex flex-row align-items-center" style="width: 100%;">
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 60%;">Metode Pembayaran</div>
                
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 40%;">{{ payment }}</div>
            </div>

            <div class="px-2 py-3 border-dark d-flex flex-row align-items-center" style="width: 100%;">
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 60%;">Total Diskon</div>
                
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 40%;">{{ total_diskon }}</div>
            </div>

            <div class="px-2 py-3 border-dark d-flex flex-row align-items-center" style="width: 100%;">
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 60%;">Biaya Pengantaran</div>
                
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 40%;">{{ biaya_pengantaran }}</div>
            </div>

            <div class="px-2 py-3 border-dark d-flex flex-row align-items-center" style="width: 100%;">
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 60%;">Total Biaya</div>
                
                <div class="d-flex flex-column align-items-start px-2 fs-6 text-wrap fw-normal" 
                style="width: 40%;">{{ total_biaya }}</div>
            </div>
            
        </div>
        <form id="form-tpel-pesanan-list" method="POST">
            {% csrf_token %}
            <div class="pt-2"></div>
            <button type="submit" class="btn btn-primary" style="width: 100%;">Lanjut ke Pembayaran</button>
            <div class="pt-3"></div>
        </form>
    </div>
    <div class="d-flex flex-row justify-content-between p-4"></div>
</div>

{% endblock content %}