{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

{% endblock meta %}

{% block content %}

<div class="row">
    <div class="col">
        <h2 class=" pt-4 pb-3"><strong>Pesanan Berlangsung</strong></h2>
    </div>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Restoran</th>
        <th scope="col">Waktu Pesanan Dibuat</th>
        <th scope="col">Status Pesanan</th>
        <th scope="col">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Warung Mantap Depok</td>
        <td>2022-11-04 11:30:05</td>
        <td>Menunggu Konfirmasi Restoran</td>
        <td><button type="button" class="btn btn-primary">Detail</button>
        </td>
      </tr>
    </tbody>
  </table>