{% extends 'base.html' %}

{% block meta %}

{% endblock meta %}

{% block content %}

{% include 'navbar_pelanggan.html' %}
<div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column align-items-center"> 
        <form id="form-tpel-alamat" method="POST">
            {% csrf_token %}
            <h2 class="lead pt-4 pb-3">FORM PENGISIAN ALAMAT PEMESANAN MAKANAN</h1>
            
            <!-- cards -->
            <div class="card d-flex flex-column align-items-center p-2" style="width: 900px;">
                
                <div class="d-flex flex-row py-1">
                </div>
                <div class="d-flex flex-row justify-content-between px-2 py-1 align-items-center" style="width: 100%;"> 
                    <label for="street" class="fs-6 text-wrap fw-normal" style="width: 60%;">Jalan</label>
                    <input type="text" id="street" name="street" placeholder="Jalan" class="form-control" style="width: 40%;" required>
                </div>
                <div class="d-flex flex-row justify-content-between px-2 py-1 align-items-center" style="width: 100%;"> 
                    <label for="district" class="fs-6 text-wrap fw-normal" style="width: 60%;">Kecamatan</label>
                    <input type="text" id="district" name="district" placeholder="Kecamatan" class="form-control" style="width: 40%;" required>
                </div>
                <div class="d-flex flex-row justify-content-between px-2 py-1 align-items-center" style="width: 100%;"> 
                    <label for="city" class="fs-6 text-wrap fw-normal" style="width: 60%;">Kota</label>
                    <input type="text" id="city" name="city" placeholder="Kota" class="form-control" style="width: 40%;" required>
                </div>
                <div class="d-flex flex-row justify-content-between px-2 py-1 align-items-center" style="width: 100%;"> 
                    <label for="province" class="fs-6 text-wrap fw-normal" style="width: 60%;">Provinsi</label>
                    <select id="province" name="province" placeholder="Provinsi" class="form-control" style="width: 40%;" required>
                        {% for p in province_list %}
                        <option>{{ p.province }}</option>
                        {% endfor %}     
                    </select>
                </div>
                <div class="d-flex flex-row py-1">
                </div>
            </div>
            
            <div class="pt-3"></div>
            <button type="submit" class="btn btn-sm btn-primary" style="width: 20%;">Lanjut</button>
            
        </form>
    </div>
</div>

{% endblock content %}