{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

{% endblock meta %}

{% block content %}

<div class="row">
    <div class="col">
        <h2 class=" pt-4 pb-3"><strong>Dashboard Pengguna: Gage Carnegie</strong></h2>
    </div>
</div>

{% include 'navbar_kurir.html' %}

<div class="row">
    <div class="col">
        
        <div class="card my-4 shadow">
        <div class="card-body border-dark" style="width: 500px;">

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <p class=" pt-2">Email: gcarnegie5@yelp.com</p>
            <p class=" pt-2">Password: password1234</p>
            <p class=" pt-2">Nama: Gage Carnegie</p>
            <p class=" pt-2">Nomor HP: 9598456842</p>
            <p class=" pt-2">NIK: 3326160104210020</p>
            <p class=" pt-2">Nama bank: BNI</p>
            <p class=" pt-2">Nomor rekening: 4716730078928</p>
        </div>

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <p class=" pt-2">Plat Nomor Kendaraan: B9351TIA</p>
            <p class=" pt-2">Nomor SIM: 898897557</p>
            <p class=" pt-2">Jenis kendaraan: Motor</p>
            <p class=" pt-2">Merk kendaraan: Hyundai</p>
        </div>

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <p class=" pt-2">Status: Terverifikasi</p>
            <p class=" pt-2">Diverifikasi oleh: Neal Indogs</p>
        </div>

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <p class=" pt-2">Saldo RestoPay: 120000</p>
        </div>

        </div>
        </div>

    </div>
</div>

{% endblock content %}