{% extends 'base.html' %}

{% block meta %}

<style>

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

{% endblock meta %}

{% block content %}

<div class="row">
    <div class="col">
        <h2 class=" pt-4 pb-3"><strong>Dashboard Pengguna: Gage Carnegie</strong></h2>
    </div>
</div>

{% include 'navbar_kurir.html' %}

<div class="row">
    <div class="col">
        
        <div class="card my-4 shadow">
        <div class="card-body border-dark" style="width: 500px;">

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <p class=" pt-2">Email: {{email}}</p>
            <p class=" pt-2">Password: {{password}}</p>
            <p class=" pt-2">Nama: {{nama}}</p>
            <p class=" pt-2">Nomor HP: {{nomor_hp}}</p>
            <p class=" pt-2">NIK: {{nik}}</p>
            <p class=" pt-2">Nama bank: {{nama_bank}}</p>
            <p class=" pt-2">Nomor rekening: {{nomor_rekening}}</p>
        </div>

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <p class=" pt-2">Plat Nomor Kendaraan: {{plat_nomor_kendaraan}}</p>
            <p class=" pt-2">Nomor SIM: {{nomor_sim}}</p>
            <p class=" pt-2">Jenis kendaraan: {{jenis_kendaraan}}</p>
            <p class=" pt-2">Merk kendaraan: {{merk_kendaraan}}</p>
        </div>

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <p class=" pt-2">Status: {{status}}</p>
            <p class=" pt-2">Diverifikasi oleh: {{diverifikasi_oleh}}</p>
        </div>

        <div class="pb-3 pt-2 d-flex justify-content-center">
            <p class=" pt-2">Saldo RestoPay: {{saldo_restopay}}</p>
        </div>

        </div>
        </div>

    </div>
</div>

{% endblock content %}