{% extends 'base.html' %}

{% block meta %}

{% endblock meta %}

{% block content %}

{% include 'navbar_admin.html' %}
<div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column justify-content-center">
        
        <h2 class="lead text-bold pt-4 pb-3">DETAIL PROMO</h2>

        <div class="d-flex flex-row justify-content-between" style="width: 880px;">    
                    
            <div class="card d-flex flex-column" style="width: 100%;">  

                <!-- Pricing -->
                <div class="d-flex pt-2 flex-row justify-content-between">
                    <div class="p-2 border-dark d-flex flex-column justify-content-start">
                        <div class="d-flex flex-column justify-content-center px-2" style="width: 200px;">
                            <h3 class="fs-6 text-wrap fw-semibold">Jenis Promo</h3>
                        </div>

                        <div class="d-flex flex-column justify-content-center px-2" style="width: 200px;">
                            <h3 class="fs-6 text-wrap fw-normal">Nama Promo</h3>
                        </div>

                        <div class="d-flex flex-column justify-content-center px-2" style="width: 200px;">
                            <h3 class="fs-6 text-wrap fw-normal">Diskon</h3>
                        </div>
                    </div>

                    
                    <div class="p-2 border-dark d-flex flex-column justify-content-center align-items-end">
                        <div class="d-flex flex-column justify-content-center px-2 align-items-end" style="width: 200px;">
                            <h3 class="fs-6 text-wrap fw-semibold">Promo Hari Spesial</h3>
                        </div>

                        <div class="d-flex flex-column justify-content-center px-2 align-items-end" style="width: 200px;">
                            <h3 class="fs-6 text-wrap fw-normal">DiskonKemerdekaan78</h3>
                        </div>

                        <div class="d-flex flex-column justify-content-center px-2 align-items-end" style="width: 200px;">
                            <h3 class="fs-6 text-wrap fw-normal">78%</h3>
                        </div>
                    </div>                           
                </div>

                
                    <div class="d-flex flex-row border border-top-2 mx-3">
                    </div>
                

                <div class="d-flex flex-row justify-content-between">
                    <div class="p-2 border-dark d-flex flex-column justify-content-start">
                        <div class="d-flex flex-column justify-content-center px-2" style="width: 200px;">
                            <h3 class="fs-6 text-wrap fw-bold">Tanggal Berlangsung</h3>
                        </div>
                    </div>

                    <div class="p-2 border-dark d-flex flex-column justify-content-center align-items-end">
                        <div class="d-flex flex-column justify-content-center px-2 align-items-end" style="width: 200px;">
                            <h3 class="fs-6 text-wrap fw-bold">2022-08-17</h3>
                        </div>                        
                    </div>                           
                </div>
            </div>
        </div>

        <div class="pt-3"></div>
        <a onClick="javascript:history.go(-1);" type="button" class="btn btn-dark">Close</a>
    </div>    
</div>

<div class="d-flex flex-row justify-content-between p-4">

</div>


{% endblock content %}