{% extends 'base.html' %}

{% block meta %}

{% endblock meta %}

{% block content %}

{% include 'navbar_restoran.html' %}
<div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column justify-content-center">
        
        <h2 class="lead pt-4 pb-3">UBAH PROMO RESTORAN</h1>
        
        <!-- cards -->
        <div class="card d-flex flex-column align-items-center" style="width: 900px;">
            <div class="p-2 border-dark d-flex flex-row justify-content-center align-items-center">
                <h3 class="pt-3 fs-4 text-wrap fw-normal">Buat Promo Minimum Transaksi</h3>
            </div>
            
            <div class="d-flex flex-column justify-content-between p-1 gap-3" style="width: 100%;">
                <div class="d-flex flex-row justify-content-between align-items-center px-2">
                    <h3 class="fs-6 text-wrap fw-normal pt-2" style="width: 60%;">Nama Promo</h3>
                    <select class="form-select" aria-label="Default select example" style="width: 40%;" disabled>
                        <option hidden>DiskonHEMAT70</option>
                        <option value="DKI Jakarta">DiskonHEMAT70</option>
                        <option value="Banten">DiskonHEMAT60</option>
                    </select>
                </div>  

                <div class="d-flex flex-row justify-content-between align-items-center px-2">
                    <h3 class="fs-6 text-wrap fw-normal pt-2" style="width: 60%;">Jenis Promo</h3>
                    <input type="text" placeholder="Promo Hari Spesial" class="form-control" style="width: 40%;" disabled>
                </div>                
                
                <div class="d-flex flex-row justify-content-between align-items-center px-2">
                    <h3 class="fs-6 text-wrap fw-normal pt-2" style="width: 60%;">Diskon</h3>
                    <input type="text" placeholder="70" class="form-control" style="width: 35%;" disabled>
                    <h3 class="fs-5 text-wrap fw-normal ps-2 pt-1" style="width: 5%;">%</h3>
                </div>
                
                <div class="d-flex flex-row justify-content-between align-items-center px-2">
                    <h3 class="fs-6 text-wrap fw-normal pt-2" style="width: 60%;">Tanggal Mulai</h3>
                    <input type="date" class="form-control" style="width: 40%;">
                </div>  

                <div class="d-flex flex-row justify-content-between align-items-center px-2">
                    <h3 class="fs-6 text-wrap fw-normal pt-2" style="width: 60%;">Tanggal Selesai</h3>
                    <input type="date" class="form-control" style="width: 40%;">
                </div>                
            </div>
            <div class="pt-2"></div>
        </div>
        <div class="pt-3"></div>
        <a onClick="javascript:history.go(-1);" type="button" class="btn btn-dark">Save</a>

    </div>
</div>

{% endblock content %}